
body {
  margin: 0px;
  padding: 0px;
  font-family:"Jost" ;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
html, body {
  height: 100%;
}
.home-background {
  background: linear-gradient(to bottom, #d7ffff 0%, #bdf0f7 25%, #9edde8 50%, #7ecad9 75%, #61b9cd 100%);
  background-attachment: fixed;
}

.others-background{
  background-image: url("mar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
button{
  cursor: pointer;
}
.form-r-r{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  /* padding: 36px; */
  padding: 15px 36px;
}
.loginForm{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 36px;
}
.logoForm{
  width: 75%;
}
.contenedores-r-r{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #F7F6F6;
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 8px;

}
.icono-register{
  width: 50%;
}

.btn-register{
  border: none;
  background-color:#A5BC34;
}
.contenedores-r-r  input{
  border:none;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  padding-left: 12px;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
}
.google-btn{
  color:  #000;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  border:none;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
}
.col{
  width: 100%;
}
.col div{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color:#000;
  text-decoration: none;
}
.btn-registros{
  height: 48px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #A5BC34;
    color: #fdfffd;
}
.icono-google{
  height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 12px;
}
.contenido-google{
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto-google{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal{
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: black;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-post {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
    align-items: left;
    flex-direction: column;

}
.post-form p{
  margin: 20px;
}
#post-content {
  width: -webkit-fill-available;
  height: 100px;
  background-color: #D9D9D9;
  border-radius: 10px;
  border: none;
  outline: none;
  resize: none;
  padding: 20px;
}
.contenedor-img-post{
  display: flex;
  justify-content: center;
}
.contenedor-img-post img{ 
  display: block;
  width: 100%;
  height: 20em;
  border-radius: 10px;
}
.contenedor-img-text{
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
}
.contenedor-img-text img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
#post-list {
  margin-top: 20px;
}
.contenedor-btn-post{
display: flex;
justify-content: flex-end;
margin:20px ;
}
.contenedor-btn-post img{
  width: 40px;
  height: 40px;
}
.form-edicion{
  margin: 20px;
  align-items: center;
}
.item-edit{
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
}
.contenedor-btn-edit{
  display: flex;
  justify-content: space-around;
}
.btn-cancelar{
background-color: #063075;
height: 40px;
 width: 80px;
color: #fdfffd;
border: none;
border-radius: 5px;
}
.btn-guardar{
background-color: #A5BC34;
color: white;
border-radius: 5px;
border: none;
height: 40px;
 width: 80px;
}
.header-muro{
  color: #fdfffd;
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center; /*alinea los elemntos dentro del header*/
  justify-content: space-around;
  background-color: #063075;
}
.img-logo-muro{
  width: 150px;

}
.logo-muro{
  width:15%;

}
.muro{

  height: 100%; /* Estableces la altura del div */
  width: 100%; /* Estableces el ancho del div */
  margin: 0; /* Elimina los m치rgenes predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
}
.cerrar-sesion{
  background-color: #1e2a78;
  color: #fff; /* Para asegurarte de que el texto sea legible */
  border: none; /* Para eliminar el borde predeterminado del bot칩n */
  padding: 10px 20px; /* Para agregar un poco de espacio entre el contenido y los bordes del bot칩n */
  cursor: pointer; /* Para indicar que el bot칩n es clickable */
  width: 50px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  color: black;
  background: none;
  width: 100%;
  /* height: 50px; */
}
.post{
  background-color: white;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}
/* .post img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: left;
} */
.post p{
  height: auto;
  text-align: center;
  padding: 10px;
}
.post-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.post-header img{
  width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: left;
}
#contenedor-msj{
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#mensaje-envio {
  margin: 10px;
  color: black;
}
.form-r-r p {
  color: #000;
  vertical-align: inherit;
}
.texto-descripcion{
  background-color: #D9D9D9;
  border-radius:20px ;
  margin: 20px;
}
.post-form{
background-color: #fdfffd;
text-align: center;
border-radius: 20px;
}
.contenedor-btn-publicar{
  display: flex;
  justify-content: end;
}
.like{
  height: 0px;
}
#like{
  height: 0px;
}
.contenedor-like{
  display: flex;
  justify-content: space-between;
}
.items-likes{
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.like {
  background: url("likeLleno.png");
  background-size: contain;
  padding: 25px;
  margin-left: 30px;
  background-position:center;
  cursor: pointer;
}

.disLike {
  background: url("likeVacio.png");
  background-size: contain;
  padding: 25px;
  margin-left: 30px;
  background-position:center;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .post-form p{
    color: #000;
    margin: 20px;
  }
  .icono-register{
    margin-bottom: 15%;
  }
  .contenedores-r-r{
    background: none;
    max-width: 90%;
  }
  .others-background{
    background-image: url("fondoMar.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
  .header-muro{
    font-size: 15px;
    justify-content: space-around;
  }
  .cerrar-sesion{
    width: 30px;
  }
  .img-logo-muro{
    width: 80px;
  }
  a{
    color: #fdfffd;
  }
  h4 {
    text-align: center;
  }

  .form-r-r{
    background-color: #F7F6F6;
    border-radius: 10%;
    padding: 15px 36px;
  }
.btn-register{
  border: none;
}
.post{
  margin: 20px;
  padding: 5px;
}
.header-muro img{
  width: 60px;
  margin-right: 20px;
  height: 60px;
  border-radius: 50%;
  text-align: left;
}
.post p{
  font-size: 12px;
}
.post-form{
  margin: 20px;
}
}



